* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
}

.clear-fix {
    overflow: hidden;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.space {
    height: 900px;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    height: 5%;
}

.contact {
    margin-top: 2%;
    width: 15%;
    opacity: .6;
}

.contact h3 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: .8rem;
    margin-right: 10%;
    letter-spacing: .2rem;
}

.fb-logo {
    margin-right: 10%;
}

.fb-logo img {
    height: 1.1rem;
}

.insta-logo {
    font-size: 1.2rem;
}
.account ul {
    list-style: none;
}

.logo-main {
    margin-left: 17%;
    margin-top: 4%;
}

.logo-main h1 {
    font-size: 2.5rem;
    font-family: "Times New Roman";
    font-weight: 200;
}

.logo-main p {
    font-size: .75rem;
    font-family: "Times New Roman";
    letter-spacing: .28rem;
    margin-right: 10%;
}

.account {
    width: 20%;
    margin-top: 2%;
    opacity: .6;
}

.account li {
    margin-right: 15%;
}

.account li:last-child {
    margin-right: 0;
}

.account ul li {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: .85rem;
    letter-spacing: .1rem;
}

.account ul li a{
    text-decoration: none;
    color: #000;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: .85rem;
    letter-spacing: .2rem;
}

nav {
    width: auto;
    margin-top: 3%;
}

.nav-inner {
    width: 80%;
    margin: 0 auto;
}

nav li {
    list-style: none;
    margin-right: 16%;
}

nav li:last-child {
    margin: 0;
}

nav li a {
    text-decoration: none;
    color: black;
    font-family: "Roboto";
    font-size: .85rem;
}
